@* the name of the container class *@
@model string

<ul>
    @foreach(IDocument field in Documents
        .FromPipeline(DocsPipelines.Api)
        .First(x => x.String(CodeAnalysisKeys.Name) == Model)
            .DocumentList(CodeAnalysisKeys.Members)
            .Where(x => x.String(CodeAnalysisKeys.Kind) == "Field" 
                && x.String("Accessibility") == "Public" 
                && (Model.Length == 1 || x.List<OtherComment>("ScopeComments").Any(y => y.Html == Model[1]))))
    {
        <li>        
            <p>
                @{
                    string type = string.Join(", ", field.List<OtherComment>("TypeComments").Select(x => x.Html));
                    if(type != string.Empty)
                    {
                        type = ": " + type;
                    }
                }
                <strong><code>@(field.String(CodeAnalysisKeys.DisplayName))</code></strong>@Html.Raw(type)
            </p>
            @{
                string summary = field.String(CodeAnalysisKeys.Summary);            
                if(!string.IsNullOrWhiteSpace(summary))
                {							
                    <p>@Html.Raw(summary)</p>
                }
            }
        </li>
    }
</ul>