body {
	font-size: 18px;
}

h1 {
	font-weight: bold;
}

code {
	color: #333;
	background-color: #f5f5f5;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}

.jumbotron {
	padding: 0;
	background: #8058B5;
	color: #fff;
}

.jumbotron-intro .container-background {
	background: url('/Content/Images/intro-bg.png') no-repeat center center;
	background-size: cover;
}

.jumbotron-intro .container {
	padding-top: 48px;
	padding-bottom: 48px;
	background-size: cover;
}

.tinynav { display: none }

@media (min-width: 1200px) { 
	.jumbotron-intro {
		height: 400px;
	}
	.jumbotron-intro .container-background {
		background: none;
	}
	.jumbotron-intro .container {
		background: url('/Content/Images/intro-bg.png') no-repeat center center;
		height: 400px;
	}	
}

@media (max-width: 991px) {	    
	.tinynav { 
		display: block;
	}
    #sub-nav { 
		display: none;
	}
}

/* Code styles */
pre,
pre.prettyprint {
    padding: 8px;
    margin: 0;
    overflow: auto;
    word-wrap: normal;
    word-break: normal;
    border-color: #ddd;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

code {
    background-color: #f5f5f5;
    color: #333;
}