Title: Themes
Order: 5
---
@Html.Partial("_ChildPages")

<div class="row">
<div class="col-md-4">
<h2>CleanBlog</h2>
<img src="/Content/images/themes/blog-cleanblog.png" class="img-responsive img-thumbnail" alt="CleanBlog">

The CleanBlog theme contains a clean layout with a large top banner area.

To build the Blog recipe with the CleanBlog theme, run:

```
wyam -r Blog -t CleanBlog
```
</div>
<div class="col-md-4">
<h2>Phantom</h2>
<img src="/Content/images/themes/blog-phantom.png" class="img-responsive img-thumbnail" alt="CleanBlog">

An airy theme based on the [Phantom](https://html5up.net/phantom) template from [HTML5 Up](https://html5up.net/).

To build the Blog recipe with the Phantom theme, run:

```
wyam -r Blog -t Phantom
```
</div>
<div class="col-md-4">
</div>
</div>