Order: 3
Description: Metadata that can be set at the document level to control the generation process.
---
<p>The metadata values listed below apply to individual documents and are typically set from <a href="/docs/concepts/metadata#front-matter">front matter</a>. Some of these metadata values are created and set by the recipe as indicated in their descriptions and are available for use from your own pages and templates.</p>

<p>Note that this list isn't exhaustive. Some modules used by the recipe may have their own document metadata that you can set as well.</p>

@Html.Partial("_Keys", new KeysModel("DocsKeys", "Document"))