Order: 2
Description: Metadata that can be set globally to control the generation process.
---
<p>The metadata values listed below apply globally and can be set from the <a href="/docs/usage/command-line">command line</a> or from a <a href="/docs/usage/configuration#global-metadata">configuration file</a>. They are used to configure options and otherwise control the generation process.</p>

<p>In addition to the optional metadata listed below, you should also set `Settings.Host` in your configuration file:</p>

<pre><code>Settings.Host = "mysite.com";</code></pre>

<p>While most generated links are relative to ensure local testing works, some links need to be absolute such as feeds. This setting ensures the correct URL is generated for those links.</p>

<p>Note that this list isn't exhaustive. Some modules used by the recipe may have their own global metadata that you can set as well.</p>

@Html.Partial("_Keys", new KeysModel("DocsKeys", "Global"))