Order: 2
---
<p>Note that this list isn't exhaustive. Some modules used by the recipe may have their own global metadata that you can set as well.</p>

@Html.Partial("_Keys", new KeysModel("DocsKeys", "Global"))