Title: Docs Recipe
Description: Create different kinds of documentation sites with content, blogs, and generated API pages.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

@Html.Partial("_ChildPages")