Title: Concepts
Description: The primary concepts in Wyam are documents, metadata, modules, pipelines, recipes, and themes. While not strictly neccesary if you're just planning on using a recipe, understanding these concepts will go a long way towards making sense of how your generation works and how best to customize it to your needs.
Order: 1
RedirectFrom:
  - getting-started/concepts
  - getting-started
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

@Html.Partial("_ChildPages")