Order: 2
---
<p>The metadata values listed below apply globally and can be set from the <a href="/docs/usage/command-line">command line</a> or from a <a href="/docs/usage/configuration#global-metadata">configuration file</a>. They are used to configure options and otherwise control the generation process.</p>

<p>Note that this list isn't exhaustive. Some modules used by the recipe may have their own global metadata that you can set as well.</p>

@Html.Partial("_Keys", new KeysModel("BlogKeys", "Global"))