Order: 4
Description: The pipelines involved in the recipe and what they do.
---
<p>The following pipelines are defined for this recipe and are executed in the order below. You can extend or adjust the recipe by <a href="/docs/concepts/recipes#pipelines">modifying these pipelines and/or by creating new pipelines</a>.</p>

@Html.Partial("_RecipePipelines", "Wyam.Blog.Blog")
