Title: API
HideSubNav: true
---
<p>You'll need to access the Wyam interfaces when <a href="/knowledgebase/writing-a-module">writing a module</a> or when <a href="/getting-started/configuration">working with configuration files</a>. The interface definitions reside in the <code>Wyam.Common</code> library, but you'll only need to worry about referencing it if you're developing modules or <a href="/knowledgebase/embedded-use">embedding Wyam</a>.</p> 

@Html.Partial("_ChildPages")