Title: API
NoSidebar: true
---
<p>
	This details the entire public API of Wyam, including all official modules. The API is roughly comprised of three namespaces:
	<ul>
		<li>
			<strong>Wyam.Common</strong>: This is a common set of interfaces, abstractions, and helper classes. It is commonly used
			by module developers and is also available from within your configuration file.
		</li>
		<li>
			<strong>Wyam.Core</strong>: This contains the actual implementations for most of the Wyam infrastructure. It also contains
			the implementations of core modules that don't require any external dependencies. It is generally
			only used in embedded scenarios. Module authors shouldn't need to include or use these objects.
		</li>
		<li>
			<strong>Wyam.Modules</strong>: These namespaces contain implementations of the various non-core modules that require external
			dependencies. These namespaces are automatically brought in scope in the configuration file if the module is loaded.
		</li>
	</ul>
</p>

@{
	ViewData["DocsTable"] = new DocsTable
	{
		Docs = Documents.FromPipeline("API")
			.Where(x => x.String("Kind") == "Namespace")
			.OrderBy(x => x.String("DisplayName"))
			.ToList(),
		Title = "Namespaces",
		Header = "Namespace"	
	};
	@Html.Partial("Section\\_DocsTable");
}  