@{
	string currentFolder = new string(Model.String("RelativeFilePath", string.Empty).TakeWhile(x => x != '\\' && x != '/').ToArray());
    foreach(IDocument childDoc in Documents
		.Where(x => x.ContainsKey("RelativeFilePath")
	        && !x.String("RelativeFilePath").EndsWith("index.md") 
	        && !x.String("RelativeFilePath").EndsWith("index.cshtml") 
	        && x.String("RelativeFilePath").StartsWith(currentFolder))
	    .OrderBy(x => x.Get<int>("Order", 1000))
	    .ThenBy(x => x.String("Title")))
	{
		<h3><strong><a href="@PathHelper.ToRootLink(PathHelper.RemoveExtension(childDoc.String("RelativeFilePath")))">@(childDoc.String("Title", childDoc.String("SourceFileBase")))</a></strong></h3>
		if(childDoc.ContainsKey("Description"))
		{
			<p>@(childDoc.String("Description"))</p>
		}
	}
}